---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-logo img {
  max-width: 300px; /* Adjust the max-width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Language Switcher Styles */
.language-switcher {
  position: relative;
  display: inline-block;
}

.language-toggle {
  display: none;
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.language-options {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.language-toggle:checked + .language-button + .language-options {
  display: block;
}

.language-options li {
  list-style: none;
}

.language-options li a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.language-options li a:hover {
  background-color: #ddd;
}