---
# Only main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-logo img {
  max-width: 300px; /* Adjust the max-width as needed */
  height: auto; /* Maintain aspect ratio */
}

.content-container {
  margin: 0 auto;
  max-width: 80%; /* Adjust the max-width as needed */
  padding: 0 20px; /* Optional: Add padding for better spacing */
}
/* Style for <h1> headings */
h1 {
  font-size: 3em;
  color: gray;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3em;
  width: 75%;
}

/* Style for <h2> headings */
h2 {
  font-size: 2em;
  color: black;
  margin-bottom: 0em;
  padding-bottom: 0.2em;
  width: 75%;
}

/* Style for <h3> headings */
h3 {
  font-size: 1em;
  color: gray;
  margin-bottom: 0em;
  width: 75%;
}

/* Style for <h4> headings */
h4 {
  font-size: 1.5em;
  color: gray;
  margin-bottom: 0.2em;
  width: 75%;
}

/* Style for <h5> headings */
h5 {
  font-size: 1.25em;
  color: gray;
  margin-bottom: 0.1em;
  width: 75%;
}

/* Style for <h6> headings */
h6 {
  font-size: 1em;
  color: gray;
  margin-bottom: 0.05em;
  width: 75%;
}